<%= simple_form_for(@incidente, :html => {:class => 'form­horizontal', remote: true } ) do  |f| %>

  <% if @incidente.errors.any? %> 
      <div id="error_explanation"> 
       <h2><%= pluralize(@incidente.errors.count, "error")   %> prohibited this incidente from  
      being saved:</h2> 
       
  <ul> 
  <% @incidente.errors.full_messages.each do |message| %> 
  <li><%= message %></li> 
  <% end %> 
  </ul> 
  </div> 
<% end %> 

<h5>SISTEMA INTEGRADO DE GESTIÓN REPORTE INCIDENTE LABORALES</h5>
  
  <div class="field">
    funcionarios <br>
    <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nombres, class: "form-control", prompt:
    "Seleccione Funcionario" %>
  </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Area_o_proceso</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :area_o_proceso, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="field">
    lugar de ocurrencia<br>
    dentro de la entidad: <%= f.radio_button(:lugar_de_ocurrencia, true) %>
    fuera de la entidad: <%= f.radio_button(:lugar_de_ocurrencia, false) %>
  </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Fecha_del_reporte</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :fecha_del_reporte, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Hora_del_reporte</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :hora_del_reporte, class: 'form­-control' %> 
    </div> 
   </div>

   <h5>PERSONAL INVOLUCRADO</h5>
  <div class="field">
    personal  <br>
    <%= f.collection_select :personalinvolucrado_id, Personalinvolucrado.all, :id, :nombre, class: "form-control", prompt:
    "Seleccione personal" %>
  </div> 

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Otro</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :otro, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Especifique</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :especifique, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Nombre_completo1</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :nombre_completo1, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Email1</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :email1, class: 'form­-control' %> 
    </div> 
   </div>

  <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Telefono1</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :telefono1, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Nombre_completo2</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :nombre_completo2, class: 'form­-control' %> 
    </div> 
   </div>
   
   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Email2</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :email2, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Telefono2</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :telefono2, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Descripcion_del_evento</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :descripcion_del_evento, class: 'form­-control' %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Nombre_del_dilenciador</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :nombre_del_dilenciador, class: 'form­-control' %> 
    </div> 
   </div>

    <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Nombre_de_lider_de_informe</label>  
    <div class="col­-md-­4"> 
       <%= f.input_field :nombre_de_lider_de_informe, class: 'form­-control' %> 
    </div> 
   </div>


</div> 
   <div class="form­-group"> 
   <div class="col­-sm­-offset­-2 col-­sm­-10"> 
   <%= f.submit "Guardar", class: "btn btn­-sm btn­-success" %> 
   </div> 
</div> 
 
<% end %> 
