<br><br><br><br><br>
<h1>Listado riesgos</h1>
	<%= form_tag riesgo_path, :method => 'get' do %>
	<% content_tag :label do %>
	fecha:
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Buscar", :name => nil %>
	<% end %>
	<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Funcionario</th>
      <th>Fecha</th>
      <th>Area de seccion o puesto de trabajo</th>
      <th>Clase de riesgo</th>
      <th>Factor de riesgo</th>
      <th>Fuente generadora</th>
      <th>Efecto conocido</th>
      <th>Numero de expuestos</th>
      <th>Tiempo</th>
      <th>Controles exitentes</th>
      <th>Controles recomendados</th>
      <th>Consecuencia</th>
      <th>Exposicion</th>
      <th>Factor de ponderacion</th>
      <th>Repercucion del riesgo</th>
      
      
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
     <%= render @riesgos %>
  </tbody>
</table>

<br>
 
<%= button_to 'Nueva Riesgo', new_riesgo_path, remote: true, :method=>"get", class: "btn btn-primary btn-xs" %> 

<%= will_paginate @riesgos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Riesgos: <%= @riesgos.count %>
 

